<!DOCTYPE html>
<html>
<head>
    <title>Flask App</title>
    <link rel="stylesheet" href="{{url_for ('static', filename='css/index.css')}}">
</head>
<body>
    <nav>
        <a href="/">
            <img src="{{url_for ('static', filename='images/logo.jpg')}}" alt="">
        </a>
        <div>
            <a class="navLink" href="/about">About</a>
            <a class="navLink" href="/scan">Scan</a>
            <a href="/generate" class="navLink">Generate</a>
        </div>
    </nav>
</body>
</html>
