body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    color: darkblue;
}

.navLink{
    text-decoration: none;
    background-color: darkblue;
    color: white;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    font-size: 30px;
}

.navLink:hover{
    background-color: lightseagreen;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 100px;
    padding: 10px;
}


nav div{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

nav a img{
    width: 80px;
    border-radius: 50%;
    box-shadow: 2px 3px 20px 3px darkblue;
}


h1, h2, h3 {
    color: darkblue;
    font-size: 60px;
    text-align: center;
}


.container{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

label{
    width: fit-content;
    background-color: darkblue;
    color: white;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    font-size: 30px;
}